    <!-- Main Content Area -->
    <main class="main-content">
      <!-- Header -->
      <header class="header">
        <div class="main-headtext">
         <h2>Kamatrust Ai Tours</h2>
         <span>Main Branch</span>
        </div>
        <div class="header-actions">
          <i class="bi bi-bell" style="font-size: 1.25rem; cursor: pointer"></i>
          <div class="user-profile" id="userProfile">
            <div class="user-avatar">JD</div>
            <div class="user-info">
              <span class="user-name">{{request.user.username}}</span>
              <span class="user-role">System Admin</span>
            </div>
            <i class="bi bi-chevron-down"></i>
            <div class="dropdown-menu" id="dropdownMenu">
              <div class="dropdown-item">
                <i class="bi bi-person"></i>
                <span>Profile</span>
              </div>
              <div class="dropdown-item">
                <i class="bi bi-gear"></i>
                <span>Settings</span>
              </div>
              <div class="dropdown-item">
                <i class="bi bi-question-circle"></i>
                <span>Help</span>
              </div>
              <div class="dropdown-divider"></div>
              <div class="dropdown-item">
                <a href="{% url 'logout'%}"
                   style="color:var(--text-dark);"><i class="bi bi-box-arrow-right"></i>
                  <span>Logout</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </header>